<div class="todo">
    <div class="enlaces">
        <a routerLink="buscar" routerLinkActive="active-link"><mat-icon>search</mat-icon>  Buscar en la web</a>
        <a routerLink="formulario" routerLinkActive="active-link"><mat-icon>edit</mat-icon>   Registrarse como cliente</a>
        <a routerLink="catalogo" routerLinkActive="active-link"><mat-icon>shopping_cart</mat-icon>  Catálogo de productos</a>
        <a routerLink="paises" routerLinkActive="active-link"><mat-icon>public</mat-icon>  Lugares donde trabajamos</a>
    </div>
</div>